body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button {
    font-family: 'RixSGo M','Rix고딕 M','NanumGothic','Nanum Gothic','나눔고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

label {display: none;}

#container {
    padding: 22px 0 40px;
    position: relative;
    width: 960px;
    max-width: 960px;
    margin: 0 auto 21px;
    z-index: 1;
}


.breadcrumb {

    font-size: 11px;
    text-transform: uppercase;
    span {
        margin: 0 8px;
    }
    a {
        color: #9da0a3;
    }
    .current {
        color: #0c1e45;
    }
}


.ico_depth {
    display: inline-block;
    zoom: 1;
    width: 5px;
    height: 9px;
    vertical-align: middle;
    text-indent: -9999em;
    background: url(../img/ico_depth.png) no-repeat;
}





.area_tit {
    padding: 25px 0 27px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #8c90a1;
    text-align: center;
}

.area_tit::before {
    display: block;
    content: "";
    width:300px;
    height:29px;
    background:url(../img/img_sprite.png) -90px 0 no-repeat;
    margin: 0 auto 18px;
}

h2 {
    font-size: 14px;
    color: #353535;
}




.area_content {
    background-color: #f7f7f7;
    width: 760px;
    padding: 124px 100px 130px;
    margin-bottom: 120px;
    text-align: center;
    color: #0c1e45;
}



.box_intro {

    h3 {
        text-align: center;
        font-size: 62px;
        font-family: 'Arita-Medium';
        font-weight: normal;
        line-height: 1.2;

        em {
            color:#7594b3;
            font-style:normal;
        }

    }

    p {
        text-align: center;
        margin: 27px 0 90px;
        font-size: 20px;
        font-family: 'Arita-Medium';
        line-height: 1.5;

        strong {
            font-family: 'Arita-SemiBold';
        }
    }



    p + img {
        margin-bottom: 80px;
    }
}




.box_inform {

    border-top: 1px solid #cbccd3;

    h3 {
        position: relative;
        width: 516px;
        margin: 68px 0 11px 120px;
        padding-left: 36px;
        line-height: 2;
        text-align: left;
        font-size: 22px;
        font-family: 'Arita-SemiBold';
    }


    h3::before {
        position: absolute;
        left: 0;
        top: 10px;
        display: block;
        content: "";
        width:28px;
        height:25px;
        background:url(../img/img_sprite.png) 0 0 no-repeat;

    }

    ol {
        width: 516px;
        position: relative;
        margin-left: 149px;
        padding: 0;
        text-align: left;
        list-style-type: none;
        font-size: 20px;
        font-family: 'Arita-Medium';
        line-height: 1.5;
        letter-spacing: -1px;
        li {
            span {
                font-family: 'Arita-Medium';
                position: absolute;
                left:-30px;
            }
        }
    }

}


.box_count {

    margin: 60px auto 72px;
    width: 506px;
    border: 5px solid #91a9c4;
    padding: 26px 0;
    font-size: 22px;
    color: #7594b3;
    line-height: 1.4;

    p {
        font-family: 'Arita-Bold';
    }

}


.box_explain {
    width: 298px;
    height: 802px;
    border: 1px solid #d5d5d5;
    background: #fff;
    padding: 38px 34px 25px;
    margin-bottom: 60px;
    float: left;
    text-align: left;

    h3 {
        line-height: 2;
        padding-left: 30px;
        margin-bottom: 28px;
        font-family: 'Arita-SemiBold';
        font-size: 20px;
        position: relative;
    }

    h3:before {
        display: block;
        content: "";
        width:22px;
        height:19px;
        background:url(../img/img_sprite.png) -60px 0 no-repeat;
        position: absolute;
        left: 0px;
        top: 11px;
    }

    p {
        font-size: 18px;
        font-family: 'Arita-Medium';
        line-height: 1.5;
        margin-bottom:  30px;

    }

    figure {


        figcaption {
            height: 53px;
            font-family: 'Arita-Medium';
            line-height: 3.2;
            text-align: center;
        }
    }


}

.box_explain:first-child {
    margin-right: 24px;
}

.box_explain + .box_explain {

    h3:before {
        background:url(../img/img_sprite.png) -60px -30px no-repeat;
    }

}





.btn_start {

    clear: both;

    a {
        display: block;
        margin: 60px auto 0;
        width: 290px;
        height: 48px;
        background-color: #0c1e45;
        line-height: 48px;
        font-size: 20px;
        font-family: 'Arita-Medium';
        color: #fff;
    }
}



.btn_check {

    clear: both;
    button {
        display: block;
        margin: 60px auto 0;
        width: 290px;
        height: 48px;
        background-color: #0c1e45;
        line-height: 48px;
        font-size: 20px;
        font-family: 'Arita-Medium';
        color: #fff;
    }

}


.area_skintest {
    width: 100%;
    padding: 0;
    background-color: #fff;

    .table_skintest {

        width: 100%;
        font-family: 'Arita-Medium';
        font-size: 16px;
        text-align: center;

        colgroup {
            .style1 {
                width :9.6%;
            }

        }

        tr {

            th {

                padding: 10px 0;
                line-height: 1.2;
            }
            td {
                padding: 24px 0;
            }

            td:nth-child(2) {
                text-align: left;
            }
        }

        thead {
            tr:first-child {
                background-color: #7594b3;
                color: #f5f5f5;
            }

        }

        tr:nth-child(2n){

            background-color: #f1f3f6;
        }

        input[type="radio"] {
            background-color: #fff;
            border-radius: 50%;
            border:1px solid #838b9d;
            cursor: pointer;
            display: inline-block;
            height: 18px;
            position: relative;
            width: 18px;
            -webkit-appearance: none;
        }

        input[type="radio"]:after {
            background-color: #fff;
            border-radius: 50%;
            content:" ";
            display: block;
            height: 10px;
            left: 50%;
            position: relative;
            top: 50%;
            width: 10px;
            margin:-5px 0 0 -5px;
        }
        input[type="radio"]:checked:after {
            background-color: #0c1e45;
        }

    }
}



.result1 {

    .box_intro{

        position: relative;
        top:-64px;


        h3 {
            margin: 14px 0 32px;
        }


        h3::before {
            display: block;
            content: "";
            width:61px;
            height:51px;
            background:url(../img/img_sprite.png) 0 -60px no-repeat;
            margin: -13px auto 23px;
        }


        p {
            margin-bottom: -11px;
        }
    }
}



.result2 {

    .box_intro{

        position: relative;
        top:-64px;


        h3 {
            margin: 14px 0 32px;
        }


        h3::before {
            display: block;
            content: "";
            width:61px;
            height:51px;
            background:url(../img/img_sprite.png) 0 -60px no-repeat;
            margin: -13px auto 23px;
        }


        p {
            margin-bottom: -11px;
        }
    }


    .box_explain {

        height: 531px;

        p {
            margin-bottom: 58px;
        }

        .btn_detail {
            display: block;
            width: 296px;
            height: 43px;
            border: 2px solid #91a9c4;
            text-align: center;
            font-family: 'Arita-SemiBold';
            font-size: 18px;
            line-height: 2.4;
            color:  #91a9c4;
        }

    }

}


@media screen and (max-width: 640px) {


    #container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        margin-bottom: 60px;

    }

    .breadcrumb {
        display: none;
    }


    .area_tit {
        display: none;
    }

    .area_content {
        width: 100%;
        box-sizing: border-box;
        padding: 98px 30px 100px;
        margin-bottom: 80px;
    }

    .area_content.result1,.area_content.result2 {
        padding: 132px 30px 100px;

        h3 {
            margin: 16px 0 20px;
            line-height: 1.2;
        }

        p {
            margin-top: 20px;
            margin-bottom: 27px;
        }

        .box_intro {
            h3 {
                margin: 14px 0 27px;
            }

            h3:before {
                margin: -13px auto 19px;
            }

            p {
                margin-bottom: -17px;
            }
        }

    }


    .box_intro {

        h3 {
            font-size: 58px;
            line-height: 1.1;
        }



        p {
            font-size: 22px;
            padding: 0 90px;
            margin-top: 32px;
            margin-bottom: 63px;

        }

        p + img {
            width: 490px;
            margin-bottom: 64px;
            height: auto;
        }
    }

    .box_inform {
        h3 {

            margin: 49px 0 14px 0;

        }
        ol {
            margin-left: 30px;
        }
    }

    .box_count {
        margin: 44px 0;
    }


    .box_explain {

        float:none;
        width: 520px;
        height: auto;
        box-sizing: border-box;
        padding: 36px 50px 18px;
        margin-bottom: 10px;


        h3 {
            margin: 0;
            font-size: 24px;
            padding-left: 35px;
            margin-bottom: 13px;
        }

        h3::before {
            display: block;
            content: "";
            width:26px;
            height:23px;
            background:url(../img/img_sprite.png) -30px 0 no-repeat;
            margin: -13px auto 23px;
        }

        p {
            margin: 0 0 28px;
            font-size: 20px;
            line-height: 1.4;
        }

        figure {

            a {
                img {
                    width: 100%;
                    height: 263px;

                }
            }

            figcaption {
                height: 62px;
                line-height: 2.8;
                font-size: 18px;
            }
        }

    }


    .box_explain + .box_explain {


            h3 {
                margin-bottom: 23px;
            }

            h3::before {
                width:24px;
                height:23px;
                background:url(../img/img_sprite.png) -30px -30px no-repeat;
            }

            p {
                margin: 0 0 31px;
            }

            .btn_detail {

                width: 416px;
                height: 54px;
                font-size: 22px;
                line-height: 2.4;
            }

    }

    .area_content.result2 {

        .box_explain {

            height: auto;
            padding: 34px 50px 18px;

        }

        .box_explain + .box_explain {

            padding-bottom: 50px;

        }
    }




    .btn_start {

        a {
            width: 332px;
            height: 62px;
            font-size: 24px;
            line-height: 2.8;
        }
    }

    .area_skintest {

        .table_skintest {

            font-size: 20px;

            colgroup {
                .style1 {
                    width :13.7%;
                }

            }

            tr {

                th {

                    padding: 21px 0;

                }
                td {
                    padding: 30px 0;
                    line-height: 1.2;
                }

            }


        }
    }

}
