body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button {
    font-family: 'RixSGo M','Rix고딕 M','NanumGothic','Nanum Gothic','나눔고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

#container {
    padding: 22px 0 40px;
    z-index: 1;
}

.top_wrap {
    width: 960px;
    margin: 0 auto 21px;
}

.breadcrumb {

    font-size: 11px;
    text-transform: uppercase;

    span {
        margin: 0 8px;
    }
    a {
        color: #9da0a3;
    }

    .current {
        color: #0c1e45;
    }

}


.ico_depth {
    display: inline-block;
    zoom: 1;
    width: 5px;
    height: 9px;
    vertical-align: middle;
    text-indent: -9999em;
    background: url(../img/ico_depth.png) no-repeat;
}

.wrap {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.wrap.off-store {
    max-width: 980px;

     .title_box {
        max-width: 980px;
     }
}

.title_box {
    padding: 25px 0 27px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #8c90a1;

    .sub_title {
    text-align: center;


    span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        color: #353535;
        margin-top: 20px;
    }
}
}

.main {
    background-color: #f7f7f7;
    width: 760px;
    padding: 124px 100px 130px;
    margin-bottom: 120px;
    text-align: center;
    color: #0c1e45;


    .intro {



        h3 {
            text-align: center;
            font-size: 62px;
            font-family: 'Arita-Medium';
            font-weight: normal;
            margin: 0;
            line-height: 1.2;

            em {
                color:#7594b3;
                font-style:normal;
            }

        }

        p {
            text-align: center;
            margin: 27px 0 90px;
            font-size: 20px;
            font-family: 'Arita-Medium';
            line-height: 1.5;

            strong {
                font-family: 'Arita-SemiBold';
            }
        }



        p + img {
            margin-bottom: 80px;
        }
    }




    .inform {

        border-top: 1px solid #cbccd3;

        h3 {
            width: 516px;
            margin: 68px 0 11px 120px;
            padding-left: 36px;
            line-height: 2;
            background: url(../img/ico_check_big.png) no-repeat left center;
            text-align: left;
            font-size: 22px;
            font-family: 'Arita-SemiBold';
        }

        ol {
            width: 516px;
            position: relative;
            margin-left: 149px;
            padding: 0;
            text-align: left;
            list-style-type: none;
            font-size: 20px;
            font-family: 'Arita-Medium';
            line-height: 1.5;
            letter-spacing: -1px;
            li {
                span {
                    font-family: 'Arita-Medium';
                    position: absolute;
                    left:-30px;
                }
            }
        }

        .count {

            margin: 60px auto 72px;
            width: 506px;
            border: 5px solid #91a9c4;
            padding: 26px 0;
            font-size: 22px;
            color: #7594b3;
            line-height: 1.4;

            p {
                font-family: 'Arita-Bold';
            }

        }


    }

    .solution {

        text-align: left;

        div {
            width: 298px;
            height: 802px;
            border: 1px solid #d5d5d5;
            background: #fff;
            padding: 30px 34px 34px;
            margin-bottom: 60px;
            float: left;

            h3 {
            line-height: 2;
            background: url(../img/ico_check_small.png) no-repeat left center;
            padding-left: 30px;
            margin-bottom: 28px;
            font-family: 'Arita-SemiBold';
            font-size: 20px;
            }

            p {
                font-size: 18px;
                font-family: 'Arita-Medium';
                line-height: 1.5;
                margin-bottom:  30px;

            }

            figure {


                figcaption {
                    height: 53px;
                    font-family: 'Arita-Medium';
                    line-height: 3.2;
                    text-align: center;
                }
            }


        }

        div:first-child {
            margin-right: 24px;
        }

        div + div {

            h3 {
                background: url(../img/ico_search_small.png) no-repeat left center;
            }

        }



    }


    .action {

        clear: both;

        a {
            display: block;
            margin: 60px auto 0;
            width: 290px;
            height: 48px;
            background-color: #0c1e45;
            line-height: 48px;
            font-size: 20px;
            font-family: 'Arita-Medium';
            color: #fff;
        }
    }



}



.main.question {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.question {

    table {

        width: 100%;
        font-family: 'Arita-Medium';
        font-size: 16px;


        colgroup {
            .style1 {
                width :9.6%;
            }

        }

        tr {

            th {
                background-color: #7594b3;
                color: #f5f5f5;
                padding: 10px 0;

            }
            td {
                padding: 24px 0;
            }

            td:nth-child(2) {
                text-align: left;
            }
        }


        tr:nth-child(2n){

            background-color: #f1f3f6;
        }

    }

    input[type="radio"] {
        background-color: #fff;
        border-radius: 50%;
        border:1px solid #838b9d;
        cursor: pointer;
        display: inline-block;
        height: 18px;
        position: relative;
        width: 18px;
        -webkit-appearance: none;
    }

    input[type="radio"]:after {
        background-color: #fff;
        border-radius: 50%;
        content:" ";
        display: block;
        height: 10px;
        left: 50%;
        position: relative;
        top: 50%;
        width: 10px;
        margin:-5px 0 0 -5px;
    }
    input[type="radio"]:checked:after {
        background-color: #0c1e45;
    }

}

.main.result {
    background: url(../img/img_check.png) no-repeat  center 60px  #f7f7f7;

    h3 {
        margin: 10px 0 32px;;
    }

    p {
        margin-bottom: 52px;
    }
}

.main.result.one {

    .solution {

        div {
            height: 531px;

            p {
                margin-bottom: 58px;
            }

            .more {
                display: block;
                width: 296px;
                height: 43px;
                border: 2px solid #91a9c4;
                text-align: center;
                font-family: 'Arita-SemiBold';
                font-size: 18px;
                line-height: 2.4;
                color:  #91a9c4;
            }
        }


    }

}
